<div class="jumbotron">
  <h1>Handcrafted items from <br>
    around the world.</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>Popular Listings</h2>
  </div>
</div>
<div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <%=link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <div class="producttitle"><%= link_to listing.name , listing  %></div>
            <div class="productprice"><div class="pull-right"><%= link_to "Buy Now!", new_listing_order_path(listing), class: "btn btn-danger btn-sm", data: { no_turbolink: true } %></div><div class="pricetext"><%= number_to_currency(listing.price) %></div></div>
          </div>
        </div>
      </div>
    <% end %>
</div>
